
@media only screen and (max-width: 1500px) {
    .banner-slide .infor-banner-home {
        padding-bottom: 100px;
    }
    .banner-slide .infor-banner-home h6::after {
        height: 30px;
    }
}
@media only screen and (max-width: 960px) {
   .banner-PC{
    display: none;
   }
   .banner-MB{
    display: inline-block !important;
   }
   .banner-slide .infor-banner-home h1 {
        font-size: 30px;
    }
    .banner-slide .infor-banner-home p {
        font-size: 14px;
        br{
            display: none;
        }
    }
    section{
        padding: 20px 0;
    }
    .banner-slide .infor-banner-home h6 {
        font-size: 23px;
    }
    .banner-slide .infor-banner-home h6::after {
        height: 27px;
    }
    .title-mientaynambo{
        margin-bottom: 30px;
    }
    .button-link a {
        height: 45px;
        font-size: 14px;
    }
    .banner-slide .infor-banner-home {
        padding-bottom: 110px;
    }
    body{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
    h1{
        font-size: 30px ;
    }
    h2{
        font-size: 26px ;
    }
    h3{
        font-size: 24px ;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 18px;
    }
    h6{
        font-size: 16px;
    }
    .title-mientaynambo b {
        font-size: 26px;
    }
    .title-mientaynambo h2::after {
        top: -19px;
    }
    .title-mientaynambo h2 {
        margin-top: 20px;
    }
}
