@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

.owl-nav {
  z-index: 9; }
  .owl-nav button {
    outline: none !important;
    border: 0 !important;
    background: none !important; }
    .owl-nav button.owl-next {
      position: absolute;
      height: 100%;
      right: -60px;
      top: 0;
      display: flex;
      align-items: center; }
      .owl-nav button.owl-next span {
        font-size: 50px; }
    .owl-nav button.owl-prev {
      position: absolute;
      height: 100%;
      left: -60px;
      top: 0;
      display: flex;
      align-items: center; }
      .owl-nav button.owl-prev span {
        font-size: 50px; }

.infor-tour p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

body {
  color: #323436;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Oswald', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.infor-tour {
  padding: 20px; }

section {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50px 0; }
  section .section-overview-infor:nth-child(2) .row {
    flex-direction: column-reverse !important; }
  section.gray {
    background: #F7F9FB; }

h2 {
  font-size: 40px; }

.banner-MB {
  display: none; }

.button-link {
  display: inline-block;
  width: 100%; }
  .button-link.right {
    text-align: right; }
  .button-link.center {
    text-align: center; }
  .button-link a {
    height: 55px;
    border-radius: 70px;
    background: #E88F74;
    color: white;
    display: inline-grid;
    align-items: center;
    padding: 0 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600; }
    .button-link a:hover {
      opacity: .9; }
  .button-link.white-bg {
    text-align: center; }
    .button-link.white-bg a {
      background: white !important;
      color: #E88F74 !important; }

.title-section {
  margin-bottom: 50px; }
  .title-section h2 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .title-section p {
    font-size: 16px;
    font-weight: normal;
    text-align: center; }
  .title-section.black h2, .title-section.black p {
    color: white; }

.slide-tour {
  color: white;
  margin-top: 30px; }

p {
  font-weight: normal; }

.title-item {
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: #323436; }
  .title-item:hover {
    opacity: .9;
    color: #E88F74; }

.item-tour {
  background: white;
  border-radius: 12px;
  overflow: hidden; }
  .item-tour h6 a {
    color: #323436; }
  .item-tour p {
    color: #5F5F5F; }
  .item-tour .avatar-tour a {
    padding-top: 56% !important; }
  .item-tour .avatar-tour a {
    position: relative;
    padding-top: 52%;
    display: block; }
    .item-tour .avatar-tour a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.pt-0 {
  padding-top: 0 !important; }

.social-hotlinne {
  display: flex; }

.hotline-footer a {
  display: flex;
  align-items: center; }

.social-footer a {
  margin: 0 10px 0 0; }

.hotline-footer {
  margin-left: 15px;
  position: relative;
  opacity: .8;
  padding-left: 45px; }
  .hotline-footer b {
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin-top: -11px; }
  .hotline-footer span {
    color: white;
    float: left;
    margin-bottom: -10px;
    width: 100%;
    font-size: 14px;
    font-weight: normal; }
  .hotline-footer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px; }

.item-footer h6 {
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase; }
.item-footer a {
  color: white;
  display: inline-block;
  font-size: 14px;
  width: 100%;
  opacity: .7;
  margin-top: 10px; }
  .item-footer a:hover {
    opacity: 1;
    color: white !important; }

footer {
  display: inline-block;
  position: relative;
  width: 100%;
  background: #404D56;
  padding: 180px 0 50px 0; }
  footer::before {
    background: url(../images/cloud-bottom.png) no-repeat center top;
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -11px;
    left: 0;
    height: 140px; }
  footer .infor-footer {
    padding-left: 100px; }
    footer .infor-footer p {
      color: white;
      opacity: .8; }
    footer .infor-footer .logo-footer {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px; }
      footer .infor-footer .logo-footer img {
        width: 100%; }

.item-news-home {
  position: relative;
  padding-right: 310px;
  min-height: 180px;
  margin-bottom: 50px;
  display: flex;
  align-items: center; }
  .item-news-home span a {
    color: #5F5F5F !important; }
  .item-news-home .avatar-news {
    position: absolute;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
    width: 280px;
    top: 0; }
    .item-news-home .avatar-news a {
      position: relative;
      padding-top: 52%;
      display: block; }
      .item-news-home .avatar-news a img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        left: 0;
        top: 0; }
    .item-news-home .avatar-news a {
      padding-top: 64% !important; }
  .item-news-home span {
    color: #5F5F5F;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%; }
  .item-news-home p {
    color: #5F5F5F; }

.numbers-news {
  position: absolute;
  right: 0;
  width: 350px;
  top: 0; }
  .numbers-news ul {
    padding-left: 0; }
    .numbers-news ul li {
      list-style: none;
      margin-bottom: 15px; }
      .numbers-news ul li .itemnewsNumbers {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 60px; }
        .numbers-news ul li .itemnewsNumbers span {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 40px;
          color: #E88F74; }
        .numbers-news ul li .itemnewsNumbers label {
          color: #5F5F5F; }
          .numbers-news ul li .itemnewsNumbers label a {
            color: #5F5F5F !important; }

.gird-photo {
  display: inline-block;
  width: 100%; }
  .gird-photo .content-gird-photo {
    display: flex;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-right: -5px;
    display: flex; }
    .gird-photo .content-gird-photo .photo-ex-item {
      width: 33.3333%;
      padding: 0 5px; }

.list-news-home {
  position: relative;
  padding-right: 420px; }

.tour-section {
  float: left;
  width: 100%;
  background: #404D56;
  padding-top: 0 !important; }
  .tour-section .title-section {
    padding-top: 50px; }
  .tour-section::before {
    background: url(../images/cloud-bottom.png) no-repeat top;
    height: 140px;
    width: 100%;
    display: inline-block;
    content: ''; }
  .tour-section .button-link a {
    height: 45px;
    font-family: 'Oswald', sans-serif; }

.form-homepage {
  float: left;
  width: 100%;
  position: relative;
  background: #E88F74;
  padding: 40px 0;
  padding-bottom: 140px; }
  .form-homepage::after {
    background: url(../images/cloud.png) no-repeat top;
    height: 186px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: ''; }
  .form-homepage h4 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300; }
  .form-homepage form {
    max-width: 750px;
    margin: auto;
    z-index: 1;
    padding-right: 155px;
    position: relative;
    display: flex; }
    .form-homepage form .filed-form {
      width: 33.3333%;
      padding: 0 5px;
      display: inline-block; }
      .form-homepage form .filed-form input {
        height: 50px;
        border-radius: 12px;
        border: 0;
        padding: 5px 15px;
        width: 100%;
        background: white; }
        .form-homepage form .filed-form input::placeholder {
          color: #323436 !important; }
    .form-homepage form .button-action-form {
      position: absolute;
      right: 0;
      width: 150px; }
      .form-homepage form .button-action-form button {
        height: 50px;
        background: none;
        border: 1px solid white;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        width: 100%;
        border-radius: 12px; }

.banner-slide {
  position: relative;
  display: inline-block;
  width: 100%;
  background: black; }
  .banner-slide img {
    width: 100%;
    opacity: .8; }
  .banner-slide .infor-banner-home {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 170px;
    top: 0; }
    .banner-slide .infor-banner-home h6 {
      font-family: 'iCiel Hipsteria';
      color: white;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      font-size: 44px; }
      .banner-slide .infor-banner-home h6::after {
        display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 200px;
        background-size: contain;
        content: '';
        margin: auto; }
    .banner-slide .infor-banner-home h1 {
      font-size: 80px;
      font-weight: bold;
      color: white; }
    .banner-slide .infor-banner-home p {
      font-size: 20px;
      color: white; }
  .banner-slide::after {
    position: absolute;
    bottom: -4px;
    content: '';
    display: inline-block;
    height: 193px;
    width: 100%;
    left: 0;
    background: url(../images/cloud.png) no-repeat bottom; }

.item-mientay-nambo-avatar a {
  position: relative;
  padding-top: 52%;
  display: block; }
  .item-mientay-nambo-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.menu-PC-MB {
  display: none; }

.title-mientaynambo b {
  font-family: 'iCiel Hipsteria';
  font-size: 40px;
  color: #7AAF7E; }
.title-mientaynambo p {
  color: #5F5F5F; }
.title-mientaynambo h2 {
  text-transform: uppercase;
  color: #404D56;
  font-weight: bold;
  position: relative; }
  .title-mientaynambo h2::after {
    display: block;
    background: url(../images/brush-green.svg) no-repeat;
    height: 60px;
    width: 100px;
    background-size: contain;
    content: '';
    position: absolute;
    top: -14px; }

.menu-btn {
  display: flex; }
  .menu-btn .button-action a {
    border-radius: 0; }
  .menu-btn .action-menu-header {
    margin-top: 0; }
  .menu-btn nav {
    display: flex;
    align-items: center; }
    .menu-btn nav ul {
      display: flex;
      margin-bottom: 0; }
      .menu-btn nav ul li {
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative; }
        .menu-btn nav ul li a {
          color: white;
          font-size: 16px;
          padding: 0px 15px; }
        .menu-btn nav ul li ul {
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50px;
          background: white;
          border-radius: 8px;
          width: 200px;
          padding: 10px 15px;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09); }
          .menu-btn nav ul li ul li a {
            color: #323436;
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            border-radius: 8px; }
            .menu-btn nav ul li ul li a:hover {
              background: #F3F6FE; }
        .menu-btn nav ul li button.sub-menu-toggle {
          display: none; }
        .menu-btn nav ul li:hover ul {
          opacity: 1;
          visibility: initial !important; }
          .menu-btn nav ul li:hover ul li:hover a {
            color: #E88F74; }

.scroll-header {
  display: flex;
  z-index: 1;
  justify-content: space-between; }

.menu-hambuger {
  margin: 10px 0 0 40px;
  cursor: pointer; }

.default-header {
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%; }

.scroll-header {
  display: flex;
  padding-left: 10px;
  width: 100%;
  background: #404D56; }
  .scroll-header .logo-pc-mb {
    display: flex;
    align-items: center;
    height: 100%; }
    .scroll-header .logo-pc-mb img {
      height: 35px; }

header {
  padding: 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9; }
  header.scroll-to-top .default-header {
    display: none !important; }
  header.scroll-to-top .scroll-header {
    display: inherit !important; }

.action-menu-header {
  margin-top: 15px;
  display: flex; }
  .action-menu-header a {
    height: 50px;
    border-radius: 70px;
    background: #E88F74;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600; }
    .action-menu-header a img {
      margin-left: 10px; }
    .action-menu-header a:hover {
      opacity: .9; }

.menu-nav {
  display: none; }

.breadcrumbs i:before {
  font-size: 8px; }

a:hover {
  text-decoration: none; }

.container {
  max-width: 1200px; }

.content-head .menu nav > ul > li.submenu > ul {
  justify-content: center;
  margin-bottom: 0;
  display: inherit !important; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 9px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 14px; }
.menu nav ul > li > a::before:last-child(1) {
  display: none; }

.action-menu-header {
  display: flex; }

.menu-nav {
  position: relative; }
  .menu-nav nav ul {
    padding: 0; }
    .menu-nav nav ul li {
      position: relative;
      list-style: none;
      padding: 5px 0; }
      .menu-nav nav ul li::marker {
        display: none !important; }
      .menu-nav nav ul li i {
        display: none; }
      .menu-nav nav ul li a {
        padding: 0 20px;
        position: relative;
        font-size: 14px; }
      .menu-nav nav ul li ul {
        position: absolute;
        top: 40px;
        padding: 15px 0;
        width: 200px;
        left: 0;
        background: white;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        padding: 0 8px; }
        .menu-nav nav ul li ul::marker {
          display: none; }
        .menu-nav nav ul li ul li {
          transition: all 0.3s linear; }
          .menu-nav nav ul li ul li:last-child {
            border-bottom: 0; }
          .menu-nav nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: normal;
            padding: 10px 15px;
            border-radius: 8px; }
            .menu-nav nav ul li ul li a:hover {
              background: #F3F6FE; }
            .menu-nav nav ul li ul li a::before {
              display: none; }
            .menu-nav nav ul li ul li a:hover {
              color: #E88F74; }
      .menu-nav nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu-nav nav ul li.active a {
        color: #323436; }
      .menu-nav nav ul li.active ul li a {
        color: #323436; }
        .menu-nav nav ul li.active ul li a:hover, .menu-nav nav ul li.active ul li a.active {
          color: #E88F74 !important; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .menu-scroll nav {
    padding: 0 !important; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.section-why-join-page {
  border: none !important; }

.menu nav ul > li > a:nth-last-child(1)::before {
  display: none; }

.photo-ex-item a {
  position: relative;
  padding-top: 52%;
  display: block; }
  .photo-ex-item a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.photo-ex-item a {
  margin-bottom: 10px;
  border-radius: 12px;
  padding-top: 57% !important;
  overflow: hidden; }
.photo-ex-item:nth-child(2) a {
  padding-top: 117% !important; }

/*# sourceMappingURL=style.css.map */
