
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap');
$text: #323436;
$text-alpha: #5F5F5F;
$border: #d9d9d9;
$green:#7AAF7E;
$ogran:#E88F74;
$brand2:#404D56;
.owl-nav{
  z-index: 9;
  button{
    outline: none !important;
    border: 0 !important;
    background: none !important;
    &.owl-next{
      position: absolute;
      height: 100%;
      right: -60px;
      top: 0;
      display: flex;
      align-items: center;
      span{
        font-size: 50px;
      }
    }
    &.owl-prev{
      position: absolute;
      height: 100%;
      left: -60px;
      top: 0;
      display: flex;
      align-items: center;
      span{
        font-size: 50px;
      }
    }
  }
}
.infor-tour{
  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
body{
  color: $text;
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}
h1, h2, h3, h4, h5,h6{
  font-weight: 700;
}

.infor-tour{
  padding: 20px;
}
section{
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 50px 0;
  .section-overview-infor{
    &:nth-child(2){
      .row{
        flex-direction: column-reverse !important;
      }
    }
  }
  &.gray{
    background: #F7F9FB;
  }
}
h2{
  font-size: 40px;
}
.banner-MB{
  display: none;
}
.button-link{
  display: inline-block;
  width: 100%;
  &.right{
    text-align: right;
  }
  &.center{
    text-align: center;
  }
  a{
    height: 55px;
    border-radius: 70px;
    background: $ogran;
    color: white;
    display:inline-grid;
    align-items: center;
    padding: 0 40px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    &:hover{
      opacity: .9;
    }
  }
  &.white-bg{
  text-align: center;
    a{
      background: white !important;
      color: $ogran !important;
    }
  }
}
.title-section{
  margin-bottom: 50px;
  h2{
    
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  &.black{
    h2, p{
      color: white;
    }
  }
}
.slide-tour{
  color: white;
  margin-top: 30px;
}
@mixin avatar {
  a{
    position: relative;
    padding-top: 52%;
    display: block;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }
}
p{
  font-weight: normal;
}
.title-item{
  font-size: 20px;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  font-weight: bold;
  color: $text;
  &:hover{
    opacity: .9;
    color: $ogran;
  }
}
.item-tour{
  background: white;
  border-radius: 12px;
  overflow: hidden;
  h6{
    a{
      color: $text;
    }
  }
  p{
    color: $text-alpha;
  }
  .avatar-tour{
    a{
      padding-top: 56% !important;
    }
    @include avatar();
  }
}
.pt-0{
  padding-top: 0 !important;
}
.social-hotlinne{
  display: flex;
}
.hotline-footer{
  a{
    display: flex;
    align-items: center;
  }
}
.social-footer{
  a{
    margin: 0 10px 0 0;
  }
}
.hotline-footer{
  margin-left: 15px;
  position: relative;
  opacity: .8;
  padding-left:45px;
  b{
    font-size: 30px;
    color: white;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    margin-top: -11px;
  }
  span{
    color: white;
    float: left;
    margin-bottom: -10px;
   width: 100%;
   font-size: 14px;
   font-weight: normal;
  }
  img{
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
  }
}
.item-footer{
  h6{
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
  }
  a{
    color: white;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    opacity: .7;
    margin-top: 10px;
    &:hover{
      opacity: 1;
      color: white !important;
    }
  }
}
footer{
  display: inline-block;
  position: relative;
  width: 100%;
  background: $brand2;
  padding: 180px 0 50px 0;
  &::before{
    background: url(../images/cloud-bottom.png) no-repeat center top;
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: -11px;
    left: 0;
    height: 140px;
  }
  .infor-footer{
    padding-left: 100px;
    p{
      color: white;
      opacity: .8;
    }
    .logo-footer{
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      img{
        width: 100%;
      }
    }
  }
}
.item-news-home{
  position: relative;
  padding-right: 310px;
  min-height: 180px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  span{
    a{
      color: $text-alpha !important;
    }
  }
  .avatar-news{
    position: absolute;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
    width: 280px;
    top: 0;
    @include avatar();
    a{
      padding-top: 64% !important;
    }
  }
  span{
    color: $text-alpha;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
  p{
    color: $text-alpha;
  }
}
.numbers-news{
  position: absolute;
  right: 0;
  width: 350px;
  top: 0;
  ul{
    padding-left: 0;
    li{
      list-style: none;
      margin-bottom: 15px;
      .itemnewsNumbers{
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 60px;
        span{
          position: absolute;
          left: 0;
          top:0;
          font-size: 40px;
          color: $ogran;
        }
        label{
          color: $text-alpha;
          a{
            color: $text-alpha !important;
          }
        }
      }
    }
  }
}
.gird-photo{
  display: inline-block;
  
  width: 100%;
  .content-gird-photo{
    display: flex;
    margin-left: -5px;
    margin-bottom: 20px;
    margin-right: -5px;
    display: flex;
    .photo-ex-item{
      width: 33.3333%;
      padding: 0 5px;
    }
  }
}
.list-news-home{
  position: relative;
  padding-right: 420px;
}
.tour-section{
  float: left;
  width: 100%;
  background: $brand2;
  padding-top: 0 !important;
  .title-section{
    padding-top: 50px;
  }
  &::before{
    background: url(../images/cloud-bottom.png) no-repeat top;
    height: 140px;
    width: 100%;
    display: inline-block;
    content: '';
  }
  .button-link{
    a{
      height: 45px;
      font-family: 'Oswald', sans-serif;
    }
  }
}
.form-homepage{
  float: left;
  width: 100%;
  position: relative;
  background: $ogran;
  padding: 40px 0;
  padding-bottom: 140px;
  &::after{
    background: url(../images/cloud.png) no-repeat top;
    height: 186px;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
  }
  h4{
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
  }
  form{
    max-width: 750px;
    margin: auto;
    z-index: 1;
    padding-right: 155px;
    position: relative;
    display: flex;
    .filed-form{
      width: 33.3333%;
      padding: 0 5px;
      display: inline-block;
      input{
        height: 50px;
        border-radius: 12px;
        border: 0;
        padding: 5px 15px;
        width: 100%;
        background: white;
        &::placeholder{
          color: #323436 !important;
        }
      }
    }
    .button-action-form{
      position: absolute;
      right: 0;
      width: 150px;
      button{
        height: 50px;
        background: none;
        border: 1px solid white;
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        width: 100%;
        border-radius: 12px;
      }
    }
  }

}
.banner-slide{
  position: relative;
  display: inline-block;
  width: 100%;
  background: black;
  img{
    width: 100%;
    opacity: .8;
  }
  .infor-banner-home{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items:flex-end;
    padding-bottom: 170px;
    top: 0;
    h6{
      font-family: 'iCiel Hipsteria';
      color: white;
      font-weight: bold;
      display: inline-block;
      width: 100%;
      margin-bottom: 0;
      position: relative;
      font-size: 44px;
      &::after{
        display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 200px;
        background-size: contain;
        content: '';
        margin: auto;
      }
    }
    h1{
      font-size: 80px;
      font-weight: bold;
      color: white;
    }
    p{
      font-size: 20px;
      color: white;
    }
  }
  &::after{
    position: absolute;
    bottom:-4px;
    content: '';
    display: inline-block;
    height: 193px;
    width: 100%;
    left: 0;
    background: url(../images/cloud.png) no-repeat bottom;
  }
}
.item-mientay-nambo-avatar{
  a{
    position: relative;
    padding-top: 52%;
    display: block;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }
}
.menu-PC-MB{
  display: none;
}
.title-mientaynambo{
  b{
    font-family: 'iCiel Hipsteria';
    font-size: 40px;
    color: $green;
  }
  p{
    color: $text-alpha;
  }
  h2{
    text-transform: uppercase;
    color: $brand2;
    font-weight: bold;
    position: relative;
    &::after{
      display: block;
        background: url(../images/brush-green.svg) no-repeat;
        height: 60px;
        width: 100px;
        background-size: contain;
        content: '';
        position: absolute;
        top: -14px;
    }
  }
}
.menu-btn{
  display: flex;
  .button-action{
    a{
      border-radius: 0;
    }
  }
  .action-menu-header{
    margin-top: 0;
  }
  nav{
    display: flex;
    align-items: center;
    ul{
      display: flex;
      margin-bottom: 0;
      li{
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        a{
          color: white;
          font-size: 16px;
          padding: 0px 15px;
        }
        ul{
          display: inline-block;
          position: absolute;
          left: 0;
          top: 50px;
          background: white;
          border-radius: 8px;
          width: 200px;
          padding:10px 15px;
          opacity: 0;
          visibility: hidden;
          box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.09);
          li{
            
            a{
              color: $text;
              display: inline-block;
              width: 100%;
              padding: 10px 15px;
              border-radius: 8px;
              &:hover{
                background: #F3F6FE;
              }
            }
          }
        }
        button{
          &.sub-menu-toggle{
            display: none;
          }
        }
        &:hover{
          ul{
            opacity: 1;
            visibility: initial !important;
            li{
              &:hover{
                a{
                  color: $ogran;
                }
              }
            }
          }
        }
      }
    }
  }
}
.scroll-header{
  display: flex;
  z-index: 1;
  justify-content: space-between;
}
.menu-hambuger{
  margin: 10px 0 0 40px;
  cursor: pointer;
}
.default-header{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.scroll-header{
  display: flex;
  padding-left: 10px;
  width: 100%;
  background: $brand2;
  .logo-pc-mb{
    display: flex;
      align-items: center;
      height: 100%;
    img{
      height: 35px;
    }
  }
}
header{
  padding: 0px 0px;
  position: fixed;
  top: 0;
  left:0 ;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
  &.scroll-to-top{
    .default-header{
      display: none !important;
    }
    .scroll-header{
      display: inherit!important;
    }
  }
}
.action-menu-header{
  margin-top: 15px;
  display: flex;
  a{
    height: 50px;
    border-radius: 70px;
    background: $ogran;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    img{
    margin-left: 10px;
    }
    &:hover{
      opacity: .9;
    }
  }
}
.menu-nav{
  display: none;
}


.breadcrumbs i:before {
    font-size: 8px;
}
a {
  &:hover {
    text-decoration: none;
  }
}
.container {
  max-width: 1200px;
}

.content-head .menu nav>ul>li.submenu>ul {
	justify-content: center;
	margin-bottom: 0;
    display: inherit !important;
}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
		display: inline-block;
		font-family: 'themify';
		font-size: 9px;
		font-weight: 100;
		position: absolute;
		right: 0;
		top: 14px;
        
	}
    &::before:last-child(1){
        display: none;
    }
}
.action-menu-header{
  display: flex;
}
.menu-nav {
	position: relative;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 5px 0;
                &::marker{
                    display: none !important;
                }

				i {
					display: none;
				}

				a {
					padding: 0 20px;
					position: relative;
					font-size: 14px;
				}

				ul {
					position: absolute;
					top: 40px;
					padding: 15px 0;
					width: 200px;
					left: 0;
					background: white;
					box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
					border-radius: 8px;
					padding: 0 8px;
					&::marker{
						display: none;
					}
					li {
						transition: all 0.3s linear;
						&:last-child{
							border-bottom: 0;
						}

						a {
							display: inline-block;
							width: 100%;
							font-weight: normal;
							padding: 10px 15px;
							border-radius: 8px;
							&:hover{
								background: #F3F6FE;
							}

							&::before {
								display: none;
							}

							&:hover {
								color: $ogran;
							}
						}

					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $text;
					}

					ul {
						li {
							a {
								color: $text;

								&:hover,
								&.active {
									color: $ogran !important;
								}
							}
						}
					}
				}
			}
		}
	}
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
  
	nav {
		padding: 0 !important;
	}

	
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.section-why-join-page{
    border: none !important;
}
.menu nav ul > li > a:nth-last-child(1)::before{
    display: none;
}


.photo-ex-item{
  @include avatar();
  a{
    margin-bottom: 10px;
    border-radius: 12px;
    padding-top: 57% !important;
    overflow: hidden;
  }
  &:nth-child(2){
    a{
      padding-top: 117% !important;
    }
  }
}